<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pethospital.pet_hospital.mapper.PrescriptionMapper">

    <select id="getById" resultType="com.pethospital.pet_hospital.entity.Prescription">
        select id as id,
               prescription_no as prescriptionNo,
               register_id as registerId,
               record_id as recordId,
               pet_id as petId,
               doctor_id as doctorId,
               prescription_type as prescriptionType,
               diagnosis as diagnosis,
               total_amount as totalAmount,
               status as status,
               remark as remark,
               create_time as createTime,
               update_time as updateTime,
               created_time as createdTime,
               updated_time as updatedTime,
               is_deleted as isDeleted
        from prescription
        where id = #{id}
    </select>

    <select id="listAllFull" resultType="com.pethospital.pet_hospital.entity.Prescription">
        select id as id,
               prescription_no as prescriptionNo,
               register_id as registerId,
               record_id as recordId,
               pet_id as petId,
               doctor_id as doctorId,
               prescription_type as prescriptionType,
               diagnosis as diagnosis,
               total_amount as totalAmount,
               status as status,
               remark as remark,
               create_time as createTime,
               update_time as updateTime,
               created_time as createdTime,
               updated_time as updatedTime,
               is_deleted as isDeleted
        from prescription
        order by id desc
    </select>

    <select id="listByRegisterId" resultType="com.pethospital.pet_hospital.entity.Prescription">
        select id,
               prescription_no as prescriptionNo,
               register_id as registerId,
               record_id as recordId,
               pet_id as petId,
               doctor_id as doctorId,
               prescription_type as prescriptionType,
               diagnosis,
               total_amount as totalAmount,
               status,
               remark,
               create_time as createTime,
               update_time as updateTime,
               created_time as createdTime,
               updated_time as updatedTime,
               is_deleted as isDeleted
        from prescription
        where is_deleted = 0
          and register_id = #{registerId}
        order by id desc
    </select>

</mapper>
